<a href="https://colab.research.google.com/github/EnriqueMorenoG88/Grupo4-Practica1/blob/main/notebook_analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importamos las librerias necesarias para el estudio de este caso práctico.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

Lo primero de todo será importar los datos que necesitamos en forma de dos variables, para poder trabajar con ellos.

In [ ]:
#Carga de los datos  de estudio

disp_df = pd.read_csv("disp_st4ns1.txt.bz2", compression="bz2", index_col=0)
comp_df = pd.read_csv("comp_st4ns1.txt", index_col=0)

# X' = x-m/M-m
# x = x'(M-m)+m

#Lasso, Ridge para optimizacion de regresion lineal,sklearn.linear_model.Lasso

#ver variable por variable con histogramas y boxplots

# Correlación entre variables, probar eliminando variables y ver el efecto
# Sacar variables de correlacion (positiva o negativa?)

# Numero de instancias
# Tipo de atributos
# Missing values

disp_df

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
V1,0.000000,0.0,0.000000,0.000000,0.000000,256.492673,244.696186,251.901758,270.741308,269.377441,...,250.686293,252.851180,263.433314,260.522389,0.0,9.000000,49.000000,107.181818,73.545455,12301200
V2,0.000000,0.0,0.000000,0.017273,0.139091,257.998596,256.096852,271.982095,308.896287,302.474537,...,232.367354,234.027276,229.197510,232.871098,0.0,7.545455,35.545455,72.454545,47.545455,11666400
V3,0.000000,0.0,0.000000,0.000000,0.000000,219.280002,211.632385,217.133093,241.347305,245.840132,...,232.010555,235.935296,252.086422,246.802193,0.0,9.000000,50.181818,110.727273,75.454545,12782700
V4,0.004545,0.0,0.000000,0.000000,0.000000,267.863045,226.078362,226.493584,235.365465,235.531321,...,243.462230,245.216754,254.291218,250.140133,0.0,8.727273,49.909091,111.727273,77.272727,12817500
V5,0.000000,0.0,0.000000,0.000000,0.000000,238.162747,241.927051,249.123549,277.759064,286.118281,...,233.888478,241.498259,256.128188,244.200684,0.0,7.909091,48.090909,106.090909,71.090909,10379400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
V4376,0.010909,0.0,0.009091,0.000000,0.000000,278.168651,267.669606,275.727847,308.500117,294.916138,...,241.166626,236.234385,248.826036,252.062132,0.0,7.909091,42.090909,75.636364,53.818182,11626200
V4377,0.000000,0.0,0.000000,0.000000,0.000000,251.551092,249.918393,257.167014,280.875871,280.614019,...,242.492794,248.244164,269.429332,265.569272,0.0,9.000000,49.000000,105.545455,71.272727,11718600
V4378,0.000000,0.0,0.000000,0.000000,0.000000,269.446164,267.112097,271.172319,287.115667,285.351388,...,244.978506,255.099375,286.732674,286.024766,0.0,8.636364,49.545455,109.181818,74.636364,11922900
V4379,0.000000,0.0,0.000000,0.000000,0.000000,268.862049,263.708427,268.471286,290.155748,292.805903,...,262.070901,266.344949,280.195776,271.802465,0.0,9.727273,51.000000,108.000000,72.818182,11354100
V4380,0.000000,0.0,0.000000,0.000000,0.000000,269.112621,265.072546,273.043252,301.113101,296.087139,...,245.806908,248.974326,227.537503,235.394483,0.0,8.272727,47.090909,95.181818,64.363636,7910100

ANALISIS EXPLORATORIO DE DATOS (EDA)
------------------------------------